# BI Q&A

## Data Loading

In [4]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import requests
import gzip
import io

url = 'https://datasets.imdbws.com/'

# Fetch the data from the URL
response = requests.get(url)
# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')

# Find all 'a' tags with href attributes ending in 'tsv.gz'
tsv_gz_links = [a['href'] for a in soup.find_all('a', href=True) if a['href'].endswith('tsv.gz')]

tsv_gz_names = [link.replace('.tsv.gz','').split('/')[-1].replace('.','_') for link in tsv_gz_links]




dfs = {}




# URL of the gzipped TSV file
url = 'https://datasets.imdbws.com/name.basics.tsv.gz'

for name,url in zip(tsv_gz_names,tsv_gz_links):
    # print(name,url)
    print(name)

    # Fetch the data from the URL
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Decompress the gzip file
        with gzip.GzipFile(fileobj=io.BytesIO(response.content)) as gz:
            # Read the decompressed data into a pandas DataFrame
            df = pd.read_csv(gz, delimiter='\t')
        
        # Display the first few rows of the DataFrame
        # print(df.head())

        dfs[name] = df
    else:
        print(f"Failed to retrieve data for {name}: code status {response.status_code}")
        continue
print('Done!')

name_basics
title_akas
title_basics

c:\Users\97254\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

title_crew
title_episode
title_principals
title_ratings
Done!

## EDA

In [5]:
# dfs['title_basics'][dfs['title_basics'].startYear=='2024'].tail()#[dfs['name_basics']]['primaryName'].str.contains('')]
dfs['name_basics'][dfs['name_basics'].primaryProfession.str.contains('actor')].tail()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
13552625,nm9993697,Zakariya Ganim,\N,\N,actor,tt8744160
13552626,nm9993698,Sebi John,\N,\N,actor,tt8736744
13552627,nm9993699,Dani Jacob,\N,\N,actor,tt8736744
13552629,nm9993701,Sanjai Kuriakose,\N,\N,actor,tt8736744
13552631,nm9993703,James Craigmyle,\N,\N,actor,"tt11212278,tt10627062,tt6914160,tt6225166"

In [6]:
dfs['title_basics'][dfs['title_basics'].genres.fillna('').str.contains('Horror')].head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
73,tt0000075,short,The Conjuring of a Woman at the House of Rober...,Escamotage d'une dame au théâtre Robert Houdin,0,1896,\N,1,"Horror,Short"
89,tt0000091,short,The House of the Devil,Le manoir du diable,0,1896,\N,3,"Horror,Short"
129,tt0000131,short,A Terrible Night,Une nuit terrible,0,1896,\N,1,"Comedy,Horror,Short"
135,tt0000138,short,The Bewitched Inn,L'auberge ensorcelée,0,1897,\N,2,"Comedy,Horror,Short"
149,tt0000152,short,The Hallucinated Alchemist,L'hallucination de l'alchimiste,0,1897,\N,2,"Fantasy,Horror,Short"

In [7]:
dfs['name_basics'][dfs['name_basics'].primaryName.fillna('').str.contains('Sean Connery')]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
124,nm0000125,Sean Connery,1930,2020,"actor,producer,director","tt0117500,tt0055928,tt0094226,tt0091605"
5324720,nm14757138,Sean Connery,\N,\N,\N,\N

In [8]:
dfs['title_basics'][dfs['title_basics'].tconst.isin('tt0117500,tt0055928,tt0094226,tt0091605'.split(','))]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
54861,tt0055928,movie,Dr. No,Dr. No,0,1962,\N,110,"Action,Adventure,Thriller"
89578,tt0091605,movie,The Name of the Rose,Der Name der Rose,0,1986,\N,130,"Drama,Mystery,Thriller"
92128,tt0094226,movie,The Untouchables,The Untouchables,0,1987,\N,119,"Crime,Drama,Thriller"
114769,tt0117500,movie,The Rock,The Rock,0,1996,\N,136,"Action,Adventure,Thriller"

## Data explainer function

In [9]:
import pandas as pd

def describe_dataset(datasets: dict, dataset_name: str) -> str:
    """
    Generate a detailed description of a specified dataset from a dictionary of datasets.

    This function provides an overview of the dataset including the number of rows and columns,
    and detailed descriptions of each column such as data type, number of unique values,
    examples of unique values, number of missing values, and various statistical measures 
    for numeric columns.

    Args:
        datasets (dict): A dictionary where keys are dataset names and values are pandas DataFrame objects.
        dataset_name (str): The name of the dataset to describe.

    Returns:
        str: A string containing the detailed description of the dataset. If the dataset is not 
        found in the provided dictionary, a message indicating this will be returned.
    """
    if dataset_name not in datasets:
        return f"Dataset '{dataset_name}' not found in the provided dictionary."

    df = datasets[dataset_name]  # You can limit the number of rows to process if needed, e.g., .head(100000)
    
    description = f"Dataset Name: {dataset_name}\n"
    description += "----------------------------------------\n"
    description += f"Number of Rows: {df.shape[0]}\n"
    description += f"Number of Columns: {df.shape[1]}\n"
    description += "\nColumn Descriptions:\n"

    for column in df.columns:
        description += f"Column Name: {column}\n"
        description += f"  Data Type: {df[column].dtype}\n"
        description += f"  Number of Unique Values: {df[column].nunique()}\n"
        description += f"  Example of Unique Values: {df[column].sample(5).unique()}\n"
        description += f"  Number of Missing Values: {df[column].isnull().sum()}\n"

        if pd.api.types.is_numeric_dtype(df[column]):
            description += f"  Mean: {df[column].mean()}\n"
            description += f"  Standard Deviation: {df[column].std()}\n"
            description += f"  Min: {df[column].min()}\n"
            description += f"  Max: {df[column].max()}\n"
            description += f"  25th Percentile: {df[column].quantile(0.25)}\n"
            description += f"  Median: {df[column].median()}\n"
            description += f"  75th Percentile: {df[column].quantile(0.75)}\n"
        else:
            description += f"  Most Common Value: {df[column].mode()[0]}\n"
            description += f"  Frequency of Most Common Value: {df[column].value_counts().iloc[0]}\n"

        description += "\n"

    return description






dfs_exp = {name:describe_dataset(dfs,name) for name in list(dfs.keys())}


# print(describe_dataset(dfs,'title_basics'))

## Data Processing

In [10]:
dfs['name_basics'] = dfs['name_basics'].fillna('\\N')
dfs['title_basics'] = dfs['title_basics'].fillna('\\N')

In [11]:
dfs['name_basics'].shape

(13552647, 6)

In [12]:
dfs['title_basics'].shape

(10831619, 9)

In [13]:
dfs['title_basics'].head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [14]:
dfs['name_basics'].isnull().sum()

nconst               0
primaryName          0
birthYear            0
deathYear            0
primaryProfession    0
knownForTitles       0
dtype: int64

In [15]:
dfs['title_basics'].isnull().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [16]:
dfs['name_basics'].head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"

In [17]:

dfs['title_basics'][dfs['title_basics'].startYear.apply(lambda x: x.replace('\\N','-9999')).astype(int)>2000].shape

(7175425, 9)

## Initiating response

My answer requires an LLM vendor, therefor I use openai's gpt4-o as my LLM.

In [18]:
from openai import OpenAI 
import os

## Set the API key and model name
MODEL="gpt-4o"
client = OpenAI(api_key = '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')

qa_sys = f"""
You are an AI that helps answer questions regarding imdb database. 
you have 2 datsets inside 'dfs' dictionary you need to use to answer the questions.
the data: {dfs_exp['title_basics']},\n {dfs_exp['name_basics']}, 
you respond in a python code that generates the answer after querying the data.
the data is loaded, you can call dfs['title_basics'] or dfs['name_basics'].
Your response must be a string that answers verbally to that question, print that string. add 🤖: at the begining of the string
"""

prompt = "How many movies are in the year 2000?"

completion = client.chat.completions.create(
  model=MODEL,
  messages=[
    {"role": "system", "content": qa_sys}, # <-- This is the system message that provides context to the model
    {"role": "user", "content": prompt}  # <-- This is the user message for which the model will generate a response
  ]
)


assistant_response = completion.choices[0].message.content


print("Assistant: \n" + assistant_response)

Assistant:
```python
# Selecting the relevant dataset
title_basics = dfs['title_basics']

# Filtering the movies that are of titleType 'movie' and startYear '2000'
movies_2000 = title_basics[(title_basics['titleType'] == 'movie') & (title_basics['startYear'] == '2000')]

# Counting the number of such movies
count_movies_2000 = len(movies_2000)

# Printing the result
print(f"🤖: There are {count_movies_2000} movies from the year 2000.")
```

## Formatting Generated response
* The response will always have a python code in it, a regex is needed to extract the code bit.
* after extraction then the exec can make the code run.
* the output is answered inside the code so that it uses both the LLM's verbal abillities and coding abillities

In [19]:
import re

def extract_code(text):
    # Define the regex pattern to capture code inside triple backticks
    pattern = re.compile(r'```python\n(.*?)```', re.DOTALL)
    
    # Search for the pattern in the text
    match = pattern.search(text)
    
    # If a match is found, return the captured group (the code)
    if match:
        return match.group(1)
    else:
        return None

print(extract_code(assistant_response))

# Selecting the relevant dataset
title_basics = dfs['title_basics']

# Filtering the movies that are of titleType 'movie' and startYear '2000'
movies_2000 = title_basics[(title_basics['titleType'] == 'movie') & (title_basics['startYear'] == '2000')]

# Counting the number of such movies
count_movies_2000 = len(movies_2000)

# Printing the result
print(f"🤖: There are {count_movies_2000} movies from the year 2000.")

## BI Q&A Chat Example

In [20]:
# execute code
print(f"🧑: {prompt}")

exec(extract_code(assistant_response))

🧑: How many movies are in the year 2000?
🤖: There are 5247 movies from the year 2000.

## Similarity For Questions, Next step in optimizing responses.
To enhance the dynamic nature of the Q&A system, an ensemble similarity algorithm can be developed to improve desired outcomes. In this scenario, each newly asked question can be compared for similarity against historical questions. The top 3 questions, along with their corresponding answers, can then serve as examples for the queried question. By incorporating these examples into the conversation history, the chat history remains dynamic while retaining its continuity.

In [21]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity as cosine_sim
from nltk.tokenize import word_tokenize
from nltk.util import ngrams
from collections import Counter

def jaccard_similarity(s1, s2):
    """
    Calculate the Jaccard similarity between two strings.

    The Jaccard similarity is defined as the size of the intersection divided 
    by the size of the union of two sets of words from the input strings.

    Args:
        s1 (str): The first input string.
        s2 (str): The second input string.

    Returns:
        float: The Jaccard similarity index, a value between 0 and 1.
    """
    set1, set2 = set(s1.split()), set(s2.split())
    return len(set1 & set2) / len(set1 | set2)

def cosine_similarity(s1, s2):
    """
    Calculate the cosine similarity between two strings.

    The cosine similarity is defined as the cosine of the angle between two
    non-zero vectors in a multidimensional space. It is computed using the
    TF-IDF vectorization of the input strings.

    Args:
        s1 (str): The first input string.
        s2 (str): The second input string.

    Returns:
        float: The cosine similarity index, a value between 0 and 1.
    """
    vectorizer = TfidfVectorizer().fit_transform([s1, s2])
    vectors = vectorizer.toarray()
    return cosine_sim(vectors)[0, 1]

def levenshtein_distance(s1, s2):
    """
    Calculate the Levenshtein distance between two strings.

    The Levenshtein distance is defined as the minimum number of single-character
    edits (insertions, deletions, or substitutions) required to change one string 
    into the other.

    Args:
        s1 (str): The first input string.
        s2 (str): The second input string.

    Returns:
        int: The Levenshtein distance between the two input strings.
    """
    if len(s1) < len(s2):
        return levenshtein_distance(s2, s1)
    if len(s2) == 0:
        return len(s1)
    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1
            deletions = current_row[j] + 1
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row
    return previous_row[-1]

def levenshtein_similarity(s1, s2):
    """
    Calculate the Levenshtein similarity between two strings.

    The Levenshtein similarity is defined as 1 minus the normalized Levenshtein
    distance. The distance is normalized by dividing it by the length of the 
    longer string, yielding a similarity index between 0 and 1.

    Args:
        s1 (str): The first input string.
        s2 (str): The second input string.

    Returns:
        float: The Levenshtein similarity index, a value between 0 and 1.
    """
    dist = levenshtein_distance(s1, s2)
    max_len = max(len(s1), len(s2))
    return 1 - dist / max_len if max_len > 0 else 1



def combined_similarity(s1, s2):
    """
    Calculate the combined similarity between two strings using Jaccard, Cosine,
    and Levenshtein similarities.

    The combined similarity is a weighted average of the Jaccard similarity,
    Cosine similarity, and Levenshtein similarity. The weights for each similarity
    measure are 0.1, 0.3, and 0.6, respectively.

    Args:
        s1 (str): The first input string.
        s2 (str): The second input string.

    Returns:
        float: The combined similarity index, a value between 0 and 1.
    """
    jac_sim = jaccard_similarity(s1, s2)
    cos_sim = cosine_similarity(s1, s2)
    lev_sim = levenshtein_similarity(s1, s2)
    
    return np.average([jac_sim, cos_sim, lev_sim], weights=[0.1, 0.3, 0.6])

# Original question
original_question = "How many movies are in the year 2000?"

# Variations of the question
variations = [
    "What is the number of movies released in the year 1999?",
    "Can you tell me how many films came out in 2001?",
    "How many films were produced in the year 1998?",
    "What is the count of movies from the year 2002?",
    "Do you know the total number of movies released in 1997?",
    "What is the total number of actors played in horrors movies in the year 1980"
     "What is the total count of actors in action movies in the year 1980?",
    "Can you tell me the number of actors who starred in horror movies in 1980?",
    "In how many horror movies did Sean Connery perform?"
]

# Calculate and print the similarity scores
for i, variation in enumerate(variations):
    similarity = combined_similarity(original_question, variation)
    print(f"Combined similarity between original question and variation {i+1}: {similarity:.4f}")

Combined similarity between original question and variation 1: 0.4123
Combined similarity between original question and variation 2: 0.2696
Combined similarity between original question and variation 3: 0.5332
Combined similarity between original question and variation 4: 0.3942
Combined similarity between original question and variation 5: 0.2266
Combined similarity between original question and variation 6: 0.2608
Combined similarity between original question and variation 7: 0.2415
Combined similarity between original question and variation 8: 0.3538

In [28]:
# Calculate and store the similarity scores for all variations
similarity_scores = [(combined_similarity(original_question, question), i+1) for i, question in enumerate(variations)]

# Sort the similarity scores in descending order
similarity_scores.sort(reverse=True)

print(f'Original Question: {original_question}')
# Print the top 3 most similar variations
for i,(score, question) in enumerate(similarity_scores[:3]):
    print(f"#{i+1} Question: '{variations[question]}', {score*100:.2f}% match")

Original Question: How many movies are in the year 2000?
#1 Question: 'What is the count of movies from the year 2002?', 53.32% match
#2 Question: 'Can you tell me how many films came out in 2001?', 41.23% match
#3 Question: 'Do you know the total number of movies released in 1997?', 39.42% match

example of dynamic history

```python
    history = [
    {"role": "system", "content": qa_sys}, 
    {"role": "user", "content": prompt_history_1},
    {"role": "user", "content": asistant_history_1},
    {"role": "user", "content": prompt_history_2},    
    {"role": "user", "content": asistant_history_2},
    {"role": "user", "content": prompt_similar_3},
    {"role": "user", "content": asistant_similar_3},
    {"role": "user", "content": prompt_similar_2},
    {"role": "user", "content": asistant_similar_2},
    {"role": "user", "content": prompt_similar_1},
    {"role": "user", "content": asistant_similar_1},
    {"role": "user", "content": current_prompt},
    ]
```

This dynamic data helps the model optimize acccurate output.

### Full Process Explanation
1. The user is asking a question.
2. The Question is matched with a bank of examples, and with history context.
3. The top n related questions with their answers are added to the chat history.
4. After the output is generated, a regex function is applied to extract the text.
5. using the `exec` function to execute the python code that generates the verbal anwser.

## Conclusion And next steps:
* the proposed chat can be implemented as a webapp like streamlit similar to my chat with my cv App  here - https://chatapp-6clofunqvgywur4s2bmxe4.streamlit.app/ (contact me for access).
* in order to validate the results an analysis needs to be performed to monitor results.

* in order to manage code executions a try except mechanism should be implemented.
* way to speed up calculations in pandas such as polars or cudf, or an IDE with optimized computation power, also the code should be the fastest to use in large dataframes.
* The Newest LLM's abiility to combine video or image with the text as input must be considered for future chats to answer questions with images or videos related to them.